*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.vscode
*__pycache__
*split
*cpt
geotop_dump.csv
package-lock.json
statepickle
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
.ebignore*
.direnv
.env
.idea
env/
app/frontend/package-lock.json
reports
.coverage
PAD/
app/etl/extract/bronhouders.pickle
